<br>
<footer class="bg-dark text-center text-lg-startfooter" style="position: absolute; bottom:100x; width: 100%;">
    <div class="text-center p-3 text-light">
      © 2021 Copyright:
      <a class="text-light" href="https://github.com/felipemdf" style="text-decoration: none;">felipemdf</a>
    </div>
</footer>
